<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lzy.testproject">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".ui.searchview.TestActivity" />
        <activity android:name=".ui.constraintlayout.TestActivity" />
        <activity android:name=".framework.rx.RxActivity" />
        <activity android:name=".designpatterns.strategy.StrategyActivity" />
        <activity android:name=".kotlin.MainActivity" />
        <activity android:name=".ui.nestedscrolling.test1.Test1Activity" />
        <activity android:name=".kotlin.KotlinActivity" />
        <activity android:name=".ui.nestedscrolling.NestedScrollingActivity" />
        <activity android:name=".ui.recyclerview.drag.DragActivity" />
        <activity android:name=".ui.recyclerview.drag.SwipActivity" />
        <activity android:name=".ui.paging.PagingActivity" />
        <activity android:name=".ui.recyclerview.diffcallback.DiffActivity" />
        <activity android:name=".framework.room.RoomActivity" />
        <activity android:name=".ui.bigpicture.BigActivity" />
        <activity android:name=".ui.softinput.SoftInputActivity" />
        <activity android:name=".test.TestActivity" />
        <activity android:name=".framework.rx.ExampleActivity" />
        <activity android:name=".test.TestKActivity" />
        <activity android:name=".other.getwechatrecord.WechatRecordActivity" />
        <activity android:name=".framework.retrofit.RetrofitActivity" />
        <activity android:name=".framework.arouter.RouterActivity" />
        <activity
            android:name=".ui.customview.calendar.CalendarActivity"
            android:theme="@style/AppTheme.Launch" />
        <activity android:name=".ui.customview.seekbar.SnailActivity" />
        <activity android:name=".saunfa.SuanfaActivity" />
        <activity android:name=".ui.animation.object.ObjectAnimationActivity" />
        <activity android:name=".ui.animation.value.ValueActivity" />
        <activity android:name=".ui.animation.layout.LayoutActivity" />
        <activity android:name=".other.disklrucache.CacheActivity" />
        <activity android:name=".ui.customview.pathmeasure.PathMeasureActivity" />
        <activity android:name=".framework.tinker.TinkerTestActivity" />
        <activity android:name=".ui.customview.chart.ChatActivity" />
        <activity android:name=".framework.jetpack.lifecycle.LifeCycleActivity" />
        <activity android:name=".framework.jetpack.lifecycle.LifeCycle2Activity" />
        <activity android:name=".framework.jetpack.viewmodel.ViewModelActivity" />
        <activity android:name=".ui.behavior.bottomsheetdialog.BottomSheetDialogActivity" />
        <activity android:name=".ui.behavior.behavoir.Behavoir1Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".test.MyService"
            android:enabled="true"
            android:exported="true"
            android:process=":test" />

        <activity android:name=".ui.behavior.behavoir.Behavoir2Activity"></activity>
    </application>

</manifest>