<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lzy.testproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".ui.searchview.TestActivity" />
        <activity android:name=".ui.constraintlayout.TestActivity" />
        <activity android:name=".rx.RxActivity" />
        <activity android:name=".designpatterns.strategy.StrategyActivity" />
        <activity android:name=".kotlin.MainActivity" />
        <activity android:name=".ui.nestedscrolling.test1.Test1Activity" />
        <activity android:name=".kotlin.KotlinActivity"></activity>
        <activity android:name=".ui.nestedscrolling.NestedScrollingActivity" />
        <activity android:name=".ui.recyclerview.drag.DragActivity" />
        <activity android:name=".ui.recyclerview.drag.SwipActivity" />
        <activity android:name=".ui.paging.PagingActivity" />
        <activity android:name=".ui.recyclerview.diffcallback.DiffActivity" />

        <activity android:name=".framework.room.RoomActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.softinput.SoftInputActivity"></activity>

        <activity android:name=".test.TestActivity">

        </activity>
    </application>

</manifest>